<ion-content fullscreen>
  <ion-card>
    <ion-card-header>
      <ion-card-title> <h2>Upload a map</h2></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>
            Map description
            <ion-input
              [counter]="true"
              type="text"
              [(ngModel)]="amrMapToUpload.mapDescription"
            >
            </ion-input>
          </ion-label>
        </ion-item>
        <ion-item>
          <input type="file" (change)="onFileChange($event)" />
        </ion-item>
        <ion-button
          (click)="uploadMap()"
        ></ion-button>
      </ion-list>
    </ion-card-content> </ion-card
></ion-content>
