<ion-grid>
  <ion-row>
    <ion-col size="5">
      <ion-input
        label="key"
        labelPlacement="stacked"
        placeholder="Key"
        [(ngModel)]="actionParameterToPost.key"
      ></ion-input>
    </ion-col>
    <ion-col size="5">
      <ion-input
        label="value"
        labelPlacement="stacked"
        placeholder="Value"
        [(ngModel)]="actionParameterToPost.value"
      ></ion-input>
    </ion-col>
    <ion-col size="2">
      <ion-button (click)="addActionParameter()"> Add </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
